<div class="container text-center">
  <i class="bi bi-cart-fill"></i>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 main-container">
    <div class="col" *ngFor="let producto of productos" (click)="pasarItem(producto)">
        <div class="card card-padding">
          <img [src]="producto.imagen" class="card-img-top" [alt]="producto.imagen" width="100" height="200">
          <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5>
            <p class="card-text">{{producto.descripcion}}</p>
            <p class="card-text">Precio: {{producto.precio}}</p>
            <p class="card-text">Cantidad: {{producto.cantidad}}</p>
          </div>       
          <!-- <td><button class="btn btn-danger" (click)="pasarItem(producto)">Open</button></td>    -->
          <app-modal [producto]="item"></app-modal>                           
        </div>
    </div>    
</div>