<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="bi bi-cart-fill"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="col">
          <div class="card">
            <img [src]="producto.imagen" class="card-img-top" [alt]="producto.imagen" width="100" height="200">
            <div class="card-body">
              <h5 class="card-title">{{producto.nombre}}</h5>
              <p class="card-text">{{producto.descripcion}}</p>
              <p class="card-text">Precio: {{producto.precio}}</p>
              <p class="card-text">Cantidad: {{producto.cantidad}}</p>
            </div>          
          </div>
        </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Aceptar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>   
    </div>
  </div>
</div>