body {
    padding-bottom: 50px;
}

.main-container {
    margin-top: 20px;
}

.card-padding {
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
